*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;	
}
.frm{
	display:grid;
	grid-template-columns:repeat(5, 1fr);
	grid-gap:10px;
	font-size:14px;
}
.titleForm{
	text-shadow:1px 1px 1px black;
	font-size:25px;
	color:rgb(12,200,150);
	font-family: 'Quicksand', sans-serif;
}
.row-1{
	grid-row:1 / 2;
}
.row-2{
	grid-row:2 / 3;
}
.row-3{
	grid-row:3 / 4;
}
.row-4{
	grid-row:4 / 5;
}
.row-5{
	grid-row:5 / 6;
}

.col-1_2{
	grid-column:1 / 2;
}
.col-1_3{
	grid-column:1 / 3;
}
.col-1_4{
	grid-column:1 / 4; 
}
.col-1_5{
	grid-column:1 / 5 ;
}
.col-2_4{
	grid-column:2 / 4;
}
.col-4_5{
	grid-column:4 / 5;
}
.col-4_6{
	grid-column:4 / 6;
}
textarea{
	height:100px;
	resize:none;
}
input, select, textarea{
	padding:5px;
	width:100%;
}
input[type=date]{
	padding:3px;
}
input[type=file]{
	padding:10px;
}
.btn{
	padding:10px;
	background:rgb(0, 120, 225);
	border:1px solid rgb(0, 120, 225);
	color:white;
	width:100px;
	margin-left:100px;
}
.btn:hover{
	cursor:pointer;
	background:rgb(25, 90, 190);
	color:white;
	border:1px solid rgb(25, 90, 190);
}

.btnCons{
	margin-left:-11px;
	margin-top:16.3px;
	padding:6.2px;
	width:60px;
	border-radius:0 5px 5px 0;
	background:rgb(0, 120, 225);
	border:1px solid rgb(0, 120, 225);
	color:white;
}
.wrapper{
	width:90%;
	margin:0 auto;
	display:grid;
	grid-template-columns:repeat(3, 70px)  2fr 1fr 150px;
	grid-gap:10px;
}

.cab{
	padding:5px 20px;
	display:grid;
	grid-template-columns:repeat(6, auto);
	background:#6EA4BF;
	grid-column:1 / 7;
}
.cx{
	text-align:center;
	color:white;
}
.cx2{
	text-align:left;
}
.cx2 h1{
	margin-top:30px;
	text-shadow:2px 2px 4px black;
	font-size:50px;
	font-family: 'Quicksand', sans-serif;
}
.bx{
	cursor:pointer;
	padding:10px;
}
/*.box1{background:rgb(25, 25, 90);}
.box2{background:rgb(100, 225, 120);}
.box3{background:rgb(190, 25, 90);	}
.box4{background:rgb(90, 25, 90);}*/

/*---estiliza menu-------*/
#mainMenu ul li{
	padding:5px;
	border-bottom:1px solid #A9BCD0;
}
ul li:hover{
	background:#A9BCD0;
	cursor:pointer;
}
li{
	list-style:none;
}
#h3Menu{
	background:#373F51;
	padding:10px;	
	color:white;
}
.menu{
	grid-row:3/5;
	grid-column:1/4;
	background:#C5D5EA;
	color:black;
}
.sidebar{
	grid-row:2 / 5;
	grid-column:6 / 7;
	background:rgb(25, 25, 90);
}
.conteudo{
	grid-row:3/ 4;
	grid-column:4 / 7;
	height:55vh;
	color:black;
	text-align:left;
}
.rodape{
	grid-row: 5 / 6;
	grid-column:1 / 7;
	background:#6EA4BF;
	padding:20px;
	height:10vh;
}







