<!DOCTYPE html>
<html>
	<head>
		<title>HTML 5</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="estilos.css">
		<script src="scripts.js"></script>
	<head>
	<body>
		<main class="wrapper">
			<header class="cx cab">
				<div class="cx1" onmouseover="msg()" ><img   src="imagens/tux.png" width="90"></div>
				<div class="cx2"><h1>Meu template</h1></div>
				<div class="cx3">caixa-3</div>
			</header>
			<nav class="cx menu" id="mainMenu">
				<h3 id="h3Menu">Menu</h3>
					<ul>
						<li id="l1"><a href="#">Cadastrar</a></li>
						<li id="l2"><a href="#">Consultar</a></li>
						<li id="l3"><a href="#">Cadastrar</a></li>
						<li id="l4"><a href="#">Consultar</a></li>
						<li id="l5"><a href="#">Cad Montador</a></li>
					</ul>
			</nav>
			<main class="cx conteudo">
				<form class="frm">
					<label>
						NoPedido
						<input type="text" name="" id="">
					</label>
					<label>
						NoPedido
						<input type="text" name="" id="">
					</label>
					<label>
						NoPedido
						<input type="text" name="" id="">
					</label>
					<label>
						NoPedido
						<input type="text" name="" id="">
					</label>
					<button>enviar</button>
				</form>
			
			
			</main>
			<!--<aside class="cx sidebar">
			Sidebar
				
			</aside>-->
			<footer class="cx rodape">Developed by Elinelton Leite</footer>
			<div class="cx bx box1" id="bx1"><img width="50" src="imagens/camera.png"></div>
			<div class="cx bx box2" id="bx2"><img width="50"src="imagens/microphone.png"></div>
			<div class="cx bx box3" id="bx3"><img width="50" src="imagens/pen.png"></div>
			<div class="cx box4" id="bx4">Box-4<img width="50" src="imagens/book.png"></div>
		</main>
		<script src="scripts.js"></script>
	</body>
</html>